@font-face {
  font-family: 'Loubag';
  src: url('../fonts/loubag/Loubag-Light.woff2') format('woff2'),
    url('../fonts/loubag/Loubag-Light.woff') format('woff'),
    url('../fonts/loubag/Loubag-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: 'Loubag';
  src: url('../fonts/loubag/Loubag-Regular.woff2') format('woff2'),
       url('../fonts/loubag/Loubag-Regular.woff') format('woff'),
       url('../fonts/loubag/Loubag-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Loubag';
  src: url('../fonts/loubag/Loubag-Medium.woff2') format('woff2'),
       url('../fonts/loubag/Loubag-Medium.woff') format('woff'),
       url('../fonts/loubag/Loubag-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/* @font-face {
  font-family: 'Loubag';
  src: url('../fonts/loubag/Loubag-SemiBold.woff2') format('woff2'),
       url('../fonts/loubag/Loubag-SemiBold.woff') format('woff'),
       url('../fonts/loubag/Loubag-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Loubag';
  src: url('/fonts/loubag/Loubag-Bold.woff2') format('woff2'),
       url('/fonts/loubag/Loubag-Bold.woff') format('woff'),
       url('/fonts/loubag/Loubag-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}  */

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/agrandir/Agrandir-Regular.woff') format('woff2'),
    url('../fonts/agrandir/Agrandir-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}