@media (max-width: 991.98px) {
    .border-mxlg-0 {
        border: 0;
    }

    .mx-w-404 {
        max-width: none;
    }

    footer .email-field {
        max-width: 480px;
    }

    .border-custom-white {
        border-right: 1px solid #fff;
    }

    .call-gmail {
        max-width: 479px;
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: 87.5%;
        /* 14px */
    }

    .digicam-era-section button {
        width: 30px;
        height: 30px;
    }

    #footer-dropdown .dropdown-menu {
        transform: none !important;
        inset: 140px 0 0 0 !important;
        position: fixed !important;
        width: 100%;
    }

    .offcanvas .dropdown-menu {
        transform: none !important;
        inset: 0 0 0 0 !important;
        position: absolute !important;
        width: 100%;
    }

    footer .dropdown-item .currency {
        opacity: 1;
    }

    footer .dropdown-menu .countries-list {
        max-height: 327px;
    }

    .w-mx-md-100 {
        width: 100% !important;
    }

    .testimonials-showcase-section h3,
    .testimonials-showcase-section h4 {
        font-size: 16px;
    }

    .testimonials-showcase-section h5 {
        font-size: 14px;
    }

    .mx-w-280 {
        width: 158px;
    }

    .mx-w-325 {
        width: 209px;
    }

    .mx-w-471 {
        max-width: 276px;
    }

    .position-mxmd-static {
        position: static !important;
    }

    .offcanvas .dropdown-menu .countries-list {
        max-height: 296px;
    }
}

@media (max-width: 575.98px) {
    .icon-container {
        width: 58px;
        justify-content: center;
    }

    .border-custom-white {
        border-right: 0;
    }

    .fs-48 {
        font-size: 2.9rem;
    }

    .form-right {
        height: 150px;
    }
}

@media (max-width: 479px) {
    .cameras-slider-section .swap-slider-track>* {
        width: 100%;
    }

    .digicam-era-section .swap-slider-track>* {
        width: 100%;
    }

    .px-40 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .digicam-era-section .prev-btn {
        transform: translate(-50%, -50%);
    }

    .digicam-era-section .next-btn {
        transform: translate(50%, -50%);
    }

    .icon-heart {
        width: 43px;
    }
}